<div class="content_post" style="background-image: url(<%= project.image %>);">
  <div class="more">
    <span><%= image_tag 'arrow_top.png' %></span>
    <ul class="more_list">
      <li>
        <%= link_to "詳細", project_path(project.id), method: :get %>
      </li>
        <% if company_signed_in? && current_company.id == project.company.id %>
        <li>
            <%= link_to '編集', "/projects/#{project.id}/edit", method: :get %>
        </li>
        <li>
            <%= link_to '削除', "/projects/#{project.id}", method: :delete %>
        </li>
        <% end %>
    </ul>
  </div>
  <%= simple_format(project.title) %>
    <span class="name">
      <a href="">
        <span>company</span><%= project.company.name %>
      </a>
    </span>
</div>
