<div class="content_post_left clearfix" style="background-image: url(<%= project.image%>">
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to "detail", project_path(project.id), method: :get %>
        </li>
          <% if company_signed_in? && current_company.id == project.company.id %>
          <li>
              <%= link_to 'edit', "/projects/#{project.id}/edit", method: :get %>
          </li>
          <li>
              <%= link_to 'delete', "/projects/#{project.id}", method: :delete %>
          </li>
          <% end %>
      </ul>
    </div>
  </div>
  <div class="content_post_right clearfix">
    <span class="reward clearfix">$<%= project.reward %></span>
    <div>
      <% if project.count > 0 %>
      <span><%= project.count %> days left </span>
      <% else %>
      <span>project has been closed. </span>
      <% end %>
         <ul>
            <li class="title"><%= project.title %></li>
            <li class="detail"><%= project.project_detail %></li>
            <li class="industry"><%= project.industry %></li>
            <li class="other"><%= project.other %></li>
        </ul>
          <span class="name">
            <a href="">
              <span>company</span><%= project.company.name %>
            </a>
          </span>
    </div>
</div>