<div class="contents row">
  <%= form_tag("/projects/#{@project.id}/concepts/#{@concept.id}", method: :patch) do %>
    <h3>
      Edit
    </h3>
    <input placeholder="title" type="string" name="title" value="<%= @project.title %>" autofocus="true">
    <textarea cols="30" name="project_detail" placeholder="project detail" rows="10"><%= @project.project_detail %></textarea>
    <input placeholder="industry" type="string" name="industry" value="<%= @project.industry %>">
    <textarea cols="30" name="other" placeholder="other" rows="10"><%= @project.other %></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>