<div class="contents row">
    <div class="content_post_left clearfix" style="background-image: url(<%= @project.image%>">
    </div>
    <div class="content_post_right clearfix">
      <ul>
        <li><%= @project.title %></li>
        <li><%= @project.project_detail %></li>
        <!-- <li>Industry:<%= @project.industry %></li> -->
        <li><%= @project.other %></li>
      </ul>
          <span class="name">
            <a href="">
              <span>company</span><%= @project.company.name %>
            </a>
          </span>
    </div>

      <div class="contents clearfix">
       <% @concepts.each do |concept| %>
        <%= render partial: "concept", locals: { concept: concept } %>
         <% end %>
         <%= paginate(@concepts) %>
      </div>
      <div class="container">
       <% if current_user %>
        <%= form_tag("/projects/#{@project.id}/concepts", method: :post) do %>
          <input placeholder="title" type="string" name="title">
          <input placeholder="Image Url" type="text" name="image">
          <input type="submit" value="POST">
        <% end %>
       <% end %>
    </div>
</div>