<div class="contents row">
    <div class="content_post" style="background-image: url(https://media.giphy.com/media/3oEdvagnVMWBVmi1cA/giphy.gif)">
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
            <% if company_signed_in? && current_company.id == @project.company.id %>
            <li>
                <%= link_to 'edit', "/projects/#{@project.id}/edit", method: :get %>
            </li>
            <li>
                <%= link_to 'delete', "/projects/#{@project.id}", method: :delete %>
            </li>
            <% end %>
        </ul>
      </div>
    <ul>
      <li><%= @project.title %></li>
      <li><%= @project.project_detail %></li>
      <!-- <li>Industry:<%= @project.industry %></li> -->
      <li><%= @project.other %></li>
    </ul>
        <span class="name">
          <a href="">
            <span>company</span><%= @project.company.name %>
          </a>
        </span>
    </div>
      <div class="contents clearfix">
       <% @concepts.each do |concept| %>
        <%= render partial: "concept", locals: { concept: concept } %>
         <% end %>
         <%= paginate(@concepts) %>
      </div>
      <div class="container">
       <% if current_user %>
        <%= form_tag("/projects/#{@project.id}/concepts", method: :post) do %>
          <input placeholder="title" type="string" name="title">
          <input placeholder="Image Url" type="text" name="image">
<!--           <textarea cols="30" name="detail" placeholder="text" rows="10"></textarea> -->
          <input type="submit" value="POST">
        <% end %>
       <% end %>
    </div>
</div>