<div class="contents row">
    <div class="content_post_left clearfix" style="background-image: url(<%= @project.image%>"></div>
    <div class="content_post_right clearfix">
      <span class="reward clearfix">$<%= @project.reward %></span>
      <% if @project.count > 0 %>
        <span><%= @project.count %> days left </span>
      <% else %>
        <span>project has been closed. </span>
      <% end %>
      <ul>
        <li><u><b><%= @project.title %></b></u></li>
        <!-- <li><%= @project.project_detail %></li> -->
        <!-- <li><%= @project.industry %></li> -->
        <li><%= @project.other %></li>
      </ul>
      <span class="name">
        <a href="">
          <span>company</span><%= @project.company.name %>
        </a>
      </span>
    </div>
  <% if user_signed_in? %>
   <% if @project.count > 0 %>
      <div class="contents clearfix">
        <% @concepts.each do |concept| %>
          <% if concept.user == current_user %>
            <%= render partial: "concept", locals: { concept: concept } %>
          <% end %>
        <% end %>
      </div>
      <div class="container">
        <%= form_for [@project, @concept] do |f| %>
          <%= f.text_field :title , :placeholder => "title" %>
          <%= f.text_field :image , :placeholder => "image url" %>
          <%= f.submit 'post' %>
        <% end %>
      </div>
   <% else %>
      <div class="contents clearfix">
        <span>Winner Concept</span>
        <div class="concept_show_bottom" style="background-image: url(<%= @winner.image %>);">
        <%= simple_format(@winner.title) %>
        <span class="name">
        <a href="">
          <span>user</span><%= @winner.user.name %>
        </a>
      </span>
        </div>
        <div class ="concept_rating-star">
        <span class="rating-star">
          <i class="star-actived rate-<%= @winner.rate %>0"></i>
        </span>
        </div>
      </div>
    <% end %>
  <% end %>

  <%if company_signed_in? %>
      <div class="contents clearfix">
        <% @concepts.each do |concept| %>
            <%= render partial: "concept", locals: { concept: concept } %>
        <% end %>
      </div>
  <% end %>
</div>