<div class="contents row">
  <div class="concept_show" style="background-image: url(<%= @concept.image %>);">
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to "詳細",  "/projects/#{@concept.project.id}/concepts/#{@concept.id}", method: :get %>
        </li>
          <% if user_signed_in? && current_user.id == @concept.user.id %>
          <li>
              <%= link_to '編集', "/projects/#{@concept.project.id}/concepts/#{@concept.id}/edit", method: :get %>
          </li>
          <li>
              <%= link_to '削除', "/projects/#{@concept.project.id}/concepts/#{@concept.id}", method: :delete %>
          </li>
          <% end %>
      </ul>
    </div>
    <%= simple_format(@concept.title) %>
      <span class="name">
        <a href="">
          <span>user</span><%= @concept.user.name %>
        </a>
      </span>
  </div>
    <div class="container">
        <div class="comments">
            <% if @reviews %>
              <% @reviews.each do |review| %>
                <p>
                  <strong><%= link_to review.company.name, "/companies/#{review.company_id}" %>：</strong>
                      <span class="rating-star"><i class="star-actived rate-<%= review.rate %>0"></i></span>
                  <%= review.text %>
                </p>
              <% end %>
            <% end %>
        </div>
      <% if company_signed_in? && current_company.id == @concept.project.company.id %>
        <%= form_for [@project, @concept, @review] do |f| %>
          <%= f.select :prize, [["this is a winner", "winner"], ["this is not a winner", "loser"]] , {prompt: t('is this winner of the contest?')} %>
          <%= f.select :rate, options_for_select((1..10), selected: @review.try(:rate)), {prompt: t('placeholder.rate')} %>
          <%= f.text_area :text %>
          <%= f.submit 'post' %>
        <% end %>
      <% end %>
     <a class="post" href="/projects/<%= @concept.project.id%>">back to concept index</a>
    </div>
</div>